<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <!-- BOOTSTRAP -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- FONTAWESOME  -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/queries.css" />

    <!-- FONTFAMILY -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="nav-logo">
        <img id="train-logo" src="/images/train.png" alt="train" />
        <h4>Ticketac</h4>
      </div>
      <div class="nav-links">

        <a href="/">Logout </a>
        <a href="/home">Home </a>
        <a href="/lasttrips">My last trips</a>

      </div>
    </nav>
    <main class="main-content">
      <div class="results-section">
        <h4 class="title results-title">
          Tickets available on <span>02/08</span> :
        </h4>

        <div class="results-list">
          <%
          for(var i=0; i<results.length; i++){
            %>
          <div class="result">
            <div class="result-title" >
              <h4><%= results[i].departure %>/<%= results[i].arrival %></h4>
            </div>
            <div class="result-description">
              <p class="departure">Train departure at : <span><%= results[i].departureTime %></span></p>
            </div>
            <div class="results-price">
              <h2 class="price"><span><%= results[i].price %></span>€</h2>
              <a href="/tickets?id=<%= results[i]._id%>"><button class="btn btn-result">Buy</button></a>
            </div>
          </div>
          <%
        }
        %>
          <!-- <div class="result">
            <div class="result-title">
              <h4>Paris/Lille</h4>
            </div>
            <div class="result-description">
              <p class="departure">Train departure at : <span>15:00</span>pm</p>
            </div>
            <div class="results-price">
              <h2 class="price"><span>93</span>€</h2>
              <a href="/tickets"><button class="btn btn-result">OK</button></a>
            </div>
          </div>
          <div class="result">
            <div class="result-title">
              <h4>Paris/Lille</h4>
            </div>
            <div class="result-description">
              <p class="departure">Train departure at : <span>15:00</span>pm</p>
            </div>
            <div class="results-price">
              <h2 class="price"><span>93</span>€</h2>
              <a href="/tickets"><button class="btn btn-result">OK</button></a>
            </div>
          </div> -->
        </div>

        <div class="btn-result-section">
          <a href="/home"
            ><button class="btn btn-return-results">Return</button></a
          >
        </div>
      </div>
    </main>

    <!-- JQUERY  -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- BOOSTRAP  -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

